<!-- <p >{{movie.name}}</p> -->

<div class="card mx-auto"  style="width: 18rem;">
    <img class="card-img-top" src="{{ '../assets/images/movie-covers/' + movie.img }}" alt="{{movie.name}}">
    <div class="card-body">
        <h5 class="card-title text-center">{{movie.name}}</h5>
        <p class="card-text text-muted">{{movie.description}}</p>
        
        <div class="row justify-content-center">
                <button type="button" class="btn btn-link text-center" [routerLink]="['/movie/', movie.id]">Details</button>
        </div>
    </div>
</div>